.hecs-gradient{
	width: 100%;
	height: auto;
	@include hecs-gradient;
}

.bottom-cta{
	@include hecs-gradient;
	.set-cta-height{
		height: auto;
		padding: 2rem 0px;
		@include breakpoint(tablet) {
			height: 660px;
			padding: 0;
		}
		.cta-image{
			max-width: 384px;
			@include breakpoint(tablet down){
				margin-left: auto; margin-right: auto;
			}
		}
	}
}

.has-very-brand-white-color{
	color: rgba(255, 255, 255, 0.7);
}

figure.wp-block-image.shirtImage {
	top: 13%;
	position: relative;
}
div#owl-homeTestimonials {
	&.owl-theme .owl-nav {
		position: relative;
		@include breakpoint (tablet up){
		top: -150px;
		left: 21vw;
		}
	}
	&.owl-theme .owl-nav [class*=owl-]{
		background: transparent;
	}
	.testimonialSlides {
		display: flex;
		flex-direction: column;
		justify-content: center;
		@include breakpoint(tablet){
			min-height: 680px;
		}
	}
}
.thebackground {
	&:after{
		content: '';
		display: block;
		top:0;
		position: absolute;
		width:100%;
		height:100%;
		background:linear-gradient(104deg, #ffffff 55%, transparent 45%);
	}
	@include breakpoint (tablet up){
		min-height: 680px;
		&:after{
			content: '';
			display: block;
			top:0;
			position: absolute;
			width:100%;
			height:100%;
			background:linear-gradient(104deg, #ffffff 69%, transparent 35%);
		}
	}


}
.kt-image-overlay-wrap.kt-over-image-zoomin {
	overflow: hidden;
	border-radius: 8px;
	background: transparent;
}
.pins_animation.ihotspot_pulse {
	-moz-animation: Ani 6s infinite;
	-webkit-animation: Ani 6s infinite;
	animation: Ani 6s infinite;
}

.pins_animation {
	border: 3px solid rgba(225, 225, 2, 0.49);
	box-shadow: 0 0 20px rgba(225, 225, 1, 0.52);
}
@keyframes Ani {
	0% {
		box-shadow: 0 0 0 rgba(255,255,255,0);
		border: 1px solid rgba(255,255,255,0);
		-webkit-transform: scale(0);
		transform: scale(0)
	}

	70% {
		box-shadow: 0 0 50px #e1e102;
		border: 1px solid #e1e102;
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	100% {
		box-shadow: 0 0 60px rgba(255,255,255,0);
		border: 0 solid rgba(255,255,255,0);
		-webkit-transform: scale(1.5);
		transform: scale(1.5)
	}
}

.logo-drop {
	box-shadow: 2px 2px 21px rgba(0, 0, 0, 0.33);
	margin-bottom: 1rem;
	z-index: 50;
}
.angle-slides {
	z-index: 49;
}
p.name {
	color: $black;
}
.wp-block-image.testimonial-gravatar {
	margin-bottom: 0;
}
figure.wp-block-image.testimonial-gravatar {
	margin-bottom: 0;
		img{
			max-width: 66%;
		}

}

div#html-1 h3 {
	font-size: 1.333rem;
}
/*=============================================
=            Responsive only            =
=============================================*/
// ..?


/*======================================
=            RepUs redesign            =
======================================*/

html {
	@include breakpoint(tablet) {
		font-size: 17px;
	}
	@include breakpoint(medium) {
		font-size: 16px;
	}
	@include breakpoint(small) {
		font-size: 15px;
	}
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	text-transform: uppercase;
}
p {
	&:last-child {
		margin-bottom: 0;
	}
}
a {
	transition: 0.4s;
}

.color-primary {
	&,
	& * {
		color: $odm-red;
	}
}
.color-secondary {
	&,
	& * {
		color: $odm-dark-blue;
	}
}
.color-inverse {
	&,
	& * {
		color: $white;
	}
}

.block-button,
.block-button.elementor-widget-button,
.forminator-custom-form .forminator-button {
	&:not(.elementor-widget-button),
	.elementor-button {
		// min-width: rem-calc(350) !important;
		border-radius: 0 !important;
		color: $white !important;
		font-size: rem-calc(34.86) !important;
		font-weight: $header-font-weight !important;
		text-align: center !important;
		line-height: 1 !important;
		text-transform: uppercase !important;
		@include breakpoint(medium){
			padding: 0.431em 1.4em !important;
		}
		@include breakpoint(medium down){
			padding: 0.431em 0.7em !important;
		}

		&:not(.alt) {
			&:not(.elementor-widget-button),
			.elementor-button {
				background-color: $odm-red !important;

				&:hover,
				&:focus {
					background-color: darken($odm-red, 10%) !important;
				}
			}
		}
		&.alt {
			&:not(.elementor-widget-button),
			.elementor-button {
				background-color: $odm-dark-blue !important;

				&:hover,
				&:focus {
					background-color: lighten($odm-dark-blue, 10%) !important;
				}
			}
		}
	}
}
.block-button:not(.elementor-widget-button).wide,
.block-button.elementor-widget-button.wide .elementor-button,
.forminator-custom-form .forminator-button-submit {
	width: 100% !important;
}

.menu-item.social {
	margin-top: -0.21em;
	margin-right: 0 !important;
	font-size: 1.35em;

	.elementor-item {
		color: $odm-red;
	}
}

.elementor-text-editor {
	/* & > * {
		line-height: inherit;//?? still need?
	} */
}
.elementor-widget-heading {
	.elementor-heading-title {
		margin-bottom: $header-margin-bottom;
		line-height: $header-lineheight;
	}
}
.elementor-element.hero {
	.forminator-custom-form {
		color: $white;
		text-align: center;

		h2 {
			font-size: rem-calc(62);
			line-height: 1.032;
		}
		.forminator-merge-tags {
			max-width: rem-calc(600);
			margin: 0 auto !important;

			.footer {
				display: none;
			}
		}
		.forminator-input {
			padding: 0.660em !important;
		}
	}
}
.elementor-location-footer {
	.menu {
		font-size: rem-calc(28);
		text-transform: uppercase;

		.menu-item {
			width: 100%;

			& > a {
				&:hover,
				&:focus {
					color: $odm-red;
				}
			}
		}
		& > .menu-item {
			& > a {
				padding: 0.4em;
			}
			&:not(.social) > a {
				font-weight: 700;
			}
		}
	}
	.sub-menu {
		margin-left: 2rem;
		list-style: none;

		& > .menu-item {
			& > a {
				padding: 0.2em;
			}
		}
	}
	.forminator-custom-form {
		.forminator-merge-tags {
			margin-bottom: 3rem !important;

			.hero {
				display: none;
			}
			.footer {
				margin: 0;
			}
		}
		.forminator-input {
			padding: 0.819em !important;
		}
		#phone-1 {
			display: none;
		}

		@include breakpoint(medium) {
			display: flex;
			flex-wrap: wrap;

			.forminator-row {
				margin: 0 !important;
			}
			.forminator-col {
				padding: 0 !important;
			}
			& > .forminator-row {
				&:nth-of-type(3) {
					width: 50%;

					.forminator-input {
						border-right: 1px solid $odm-red;
					}
				}
				&:nth-of-type(4) {
					width: 20%;
				}
				&:nth-of-type(5) {
					flex-grow: 1;
				}
			}
		}
	}
}

.forminator-custom-form {
	p {
		font-size: rem-calc(37);
	}
	.forminator-input {
		font-size: rem-calc(22) !important;
		font-weight: 300 !important;
		text-transform: uppercase;
	}
}